<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217108063204-ol0vkikf76e1vfpe5bqiee99t3rvkd39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217108063204-ol0vkikf76e1vfpe5bqiee99t3rvkd39</string>
	<key>API_KEY</key>
	<string>AIzaSyB3t4JZwa8c4czcUWu-bywzLoSg4sl59PI</string>
	<key>GCM_SENDER_ID</key>
	<string>217108063204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cotemig.ProvaIos27</string>
	<key>PROJECT_ID</key>
	<string>provaios-276ea</string>
	<key>STORAGE_BUCKET</key>
	<string>provaios-276ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217108063204:ios:3cb78fd378ab906402ddf1</string>
	<key>DATABASE_URL</key>
	<string>https://provaios-276ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>